#portfolio {
  background-color: whitesmoke;
}

#portfolio .container {
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 30rem));
  gap: 1rem;
  justify-content: space-around;
}

#portfolio .container h1 {
  display: flex;
  margin-bottom: 3rem;
  grid-column: span 2;
}

@media (max-width: 50rem) {
  #portfolio .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #portfolio .container h1 {
    justify-content: center;
    margin-bottom: 2rem;
  }
}
