#model {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.canvas {
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
}

.bio {
  color: white;
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  justify-content: center;
  margin: auto;
}

@media (max-width: 50rem) {
}
