#about {
  background-color: whitesmoke;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, auto));
  justify-content: space-evenly;
  align-items: center;
}

.intro-grid {
  display: flex;
  flex-direction: column;
}

.intro-grid h1 {
  font-size: 2rem;
}

.subheader h3,
p {
  padding: 0;
  margin: 0;
}

#about picture img {
  border: 1px solid;
  border-radius: 50%;
}

.social-icons-container {
  margin-block: 2rem;
}

.social-icons {
  cursor: pointer;
  margin-right: 1rem;
  width: max(1rem, 2rem);
}

.tech-logo-container {
  /* background-color: lightgray; */
}

.tech-logo-container h3 {
  padding-top: 0;
  margin-top: 0;
}

.tech-logo {
  cursor: pointer;
  margin-right: 1rem;
  width: max(1rem, 2rem);
  padding: 0;
}

.tip {
  background-color: lightyellow;
  position: absolute;
  border: 1px solid;
  margin-top: 0.5rem;
  padding: 5px;
}

@media (max-width: 50rem) {
  #about {
    height: 95vh;
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    align-content: space-around;
  }

  .profile-pic {
    order: -1;
    display: flex;
    margin-inline: auto;
  }

  .profile-pic img {
    width: 60%;
    margin-inline: auto;
  }

  .intro-grid {
    display: flex;
    align-items: center;
  }

  .social-icons-container {
    margin-block: 2rem;
  }

  .social-icons {
    cursor: pointer;
    margin-right: 0.5rem;
    width: max(1rem, 2rem);
  }

  .tech-logo {
    cursor: pointer;
    margin-right: 1rem;
    width: max(1rem, 2rem);
  }

  #about p {
    text-align: center;
  }

  .tip-container {
    display: none;
  }
}
