#about {
  background-color: whitesmoke;
}

#about .container {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 25rem));
  justify-content: space-evenly;
  align-items: center;
}

.intro-grid {
  display: flex;
  flex-direction: column;
}

.intro-grid h1 {
  font-size: 2rem;
}

.subheader h3,
p {
  padding: 0;
  margin: 0;
}

#about img {
  display: flex;
  width: 80%;
  overflow: hidden;
  border: 1px solid;
  border-radius: 100%;
}

.social-icons-container {
  margin-block: 2rem;
}

.social-icons {
  cursor: pointer;
  margin-right: 1rem;
  width: max(1rem, 2rem);
}

.tech-logo-container {
  /* background-color: lightgray; */
}

.tech-logo-container h3 {
  padding-top: 0;
  margin-top: 0;
}

.tech-logo {
  cursor: pointer;
  margin-right: 1rem;
  width: max(1rem, 2rem);
  padding: 0;
}

.tip {
  background-color: lightyellow;
  position: absolute;
  border: 1px solid;
  margin-top: 0.5rem;
  padding: 5px;
}

@media (max-width: 50rem) {
  #about .container {
    /* height: 90vh; */
    display: grid;
    /* grid-template-columns: 90vh;
    grid-template-rows: repeat(2, minmax(auto, auto)); */
    grid-template-columns: repeat(1, minmax(auto, auto));
  }

  #about img {
    order: -1;
    width: 60%;
    margin-inline: auto;
  }

  .intro-grid {
    /* height: 100%; */
    display: flex;
    align-items: center;
  }

  .social-icons-container {
    margin-block: 2rem;
  }

  .social-icons {
    cursor: pointer;
    margin-right: 0.5rem;
    width: max(1rem, 2rem);
  }

  .tech-logo {
    cursor: pointer;
    margin-right: 1rem;
    width: max(1rem, 2rem);
  }

  #about p {
    text-align: center;
  }

  .tip-container {
    display: none;
  }
}
