#contact {
  background-color: white;
}

#contact .container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
}

.contact-us {
  display: flex;
  flex-direction: column;
}

.contact-card {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 10rem));
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 3%;
  border: 0.1rem solid lightgray;
}

.message-input {
  grid-column: span 2;
}

.submit-button {
  grid-column: span 2;
}

@media (max-width: 50rem) {
  #contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
