#footer {
  background-color: whitesmoke;
}

#footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .container p:nth-child(2) {
  cursor: pointer;
  color: lightgrey;
  margin-top: 0.5rem;
}
